*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

header {
    height: 20%;
}

.katawan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    color: rgb(11, 11, 12);
    overflow: hidden;
}

img {
    width: 100px;
    height: 100px;
	vertical-align: middle;
}

.brand-logo {
    text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: lighter;
    font-size: 1.5em;
    margin: 0;
}


#time {
    font-size: 3rem;
}
h1 {
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: 0.5rem;
    opacity: 0.7;
    font-size: 6rem;
}
#focus{
    margin: 0;
}
#ads {
    font-family: 'Crafty Girls', cursive;
    font-size: 6rem;
}
.btn {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid orangered;
    border-radius: 10px;
    background: orangered;
    background: linear-gradient(to bottom, orangered, orangered);
    text-shadow: #323a01 1px 1px 1px;
    font: normal normal normal 20px;
    color: #ffffff;
    text-decoration: none;
}

button:hover,
button:focus {
    border: 0px solid orange;
    background: orange;
    background: linear-gradient(to bottom, orange, orange);
    color: #fff;
    text-decoration: none;
    outline: 0;
}
button:active {
    background: blue;
    background: linear-gradient(to bottom, blue, blue);
}

a{
	height: 25px;
	width: 100px;
}

.land {
    background-color: rgba(20,20,20,0.4);
    border-radius: 10px;
    padding: 20px;
    color: white;
}

@media(max-width: 700px) {
    #time {
        font-size: 3rem;
    }
    #ads {
        font-family: 'Crafty Girls', cursive;
        font-size: 2rem;
    }
    h2 {
        margin-bottom: 0.5rem;
        opacity: 0.7;
        font-size: 2rem;
    }
}
/* IPAD */
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #time {
        font-size: 3rem;
    }
    #ads {
        font-family: 'Crafty Girls', cursive;
        font-size: 1.5rem;
    }
    h2 {
        margin-bottom: 0.5rem;
        opacity: 0.7;
        font-size: 2rem;
    }
    .land {
        background-color: rgba(20,20,20,0.4);
        border-radius: 10px;
        color: white;
        margin: 0px 40px;  
    }
} 

 /* GALAXY S5 */
@media only screen and (max-width: 599px) {
    img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
    
    .brand-logo {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: lighter;
        font-size: 1em;
        margin: 0;
    }

    #time {
        font-size: 1.5rem;
    }

    #ads {
        font-family: 'Crafty Girls', cursive;
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        margin-bottom: 0.5rem;
        opacity: 0.7;
        font-size: 1rem;
    }

    .land {
        background-color: rgba(20,20,20,0.4);
        border-radius: 10px;
        color: white;
        margin: 0px 20px;  
    }   
}