* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#wallet, #keychain, #cord-org {
	filter: grayscale(100%);
}
#wallet:hover, #keychain:hover, #cord-org:hover {
	filter: grayscale(0%);
	transition: 1s;
}

#wallet {
	background: url(../images/organizer.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}

#keychain {
	background: url(../images/coloredtag.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}


#cord-org {
	background: url(../images/cordorganizer.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}

/* #luggage {
	background: url(../images/bagtag.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;

}

#bookmark {
	background: url(../images/bookworm.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;

} */

.label {
	height: 100%;
	width: 100%; 
	display: block;
	padding-top: 400px;
	text-align: center;
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: transparent;
}

#l-wallet:hover {
	background-color: rgba(237,41,57,0.50);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#l-key:hover {
	background-color: rgba(0,0,0,0.50);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#l-cord:hover {
	background-color: rgba(5, 155, 105, 0.5);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

/* #l-luggage:hover {
	background-color: rgba(234, 0, 255, 0.5);
	color: rgba(255,255,255,0.9);
	font-family: 'Butterfly Kids', cursive;
	text-decoration: none;
}

#l-book:hover {
	background-color: rgba(255, 166, 0, 0.5);
	color: rgba(255,255,255,0.9);
	font-family: 'Butterfly Kids', cursive;
	text-decoration: none;
} */

#brandlogo {
	height: 100px;
	width: 100px;
    color: white

}

.brand-logo {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	position: absolute;
	bottom: 70px;
	right: 39vw;
}

.brand-logo>h1 {
	color: rgba(255,255,255,0.9);
}


/*mobile*/

@media only screen and (max-width: 450px) {

#women {
	background-position: 30% 30%;
	height: 33.33vh;
}

#lkwomen {
	background-color: rgba(237,41,57,0.20);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#men {
	background-position: 30% 30%;
	height: 33.33vh;
}

#lkmen {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#kids {
	background-position: 30% 30%;
	height: 33.33vh;
	
}

#lkkids {
	background-color: rgba(0,96,255,0.10);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#kids>a {
	font-family: 'Butterfly Kids', cursive;
}

.label {
	padding: 20px;
	padding-top: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.logo {
	position: absolute;
	bottom: 5vh;
	right: 80vw;
	background-color: gray;
}

#logoimg {
 	height: 3em;
 	width: 3em;
}

.logo>h1 {
	display: none;
}



}


/*tablet*/

@media (min-width: 451px) and (max-width: 768px) {

#women {
	background-position: 30% 30%;
	height: 33.33vh;
}

#lkwomen {
	background-color: rgba(237,41,57,0.20);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#men {
	background-position: 30% 30%;
	height: 33.33vh;
}
#lkmen {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#kids {
	background-position: 30% 30%;;
	height: 33.33vh;
	
}

#lkkids {
	background-color: rgba(0,96,255,0.10);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#kids>a {
	font-family: 'Butterfly Kids', cursive;
}

.label {
	padding: 20px;
	padding-top: 90px;
	color: rgba(255,255,255,0.5);
	font-family: 'Montserrat', sans-serif;
}

.logo {
	position: absolute;
	bottom: 5vh;
	right: 85vw;
	background-color: gray;
}

#logoimg {
 	height: 3em;
 	width: 3em;
}

.logo>h1 {
	display: none;
}


}



